.hero-text {
   font-size: 52px;
   font-weight: bold;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.hero-text-second {
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* style/home.css */

.search-container {
   display: flex;
   align-items: center;
   margin: auto;
   background-color: #fff;
   border-radius: 30px;
   padding: 5px;
   box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
 }
 
 .search-input {
   flex-grow: 1;
   border: none;
   outline: none;
   padding: 10px;
   border-radius: 30px;
 }

 .search-input:focus {
   outline: none;
   box-shadow: none;
 }
 
 .search-button {
   border: none;
   outline: none;
   border-radius: 30px;
   padding: 10px 20px;
   background-color: #007bff;
   color: #fff;
   cursor: pointer;
 }
 
 .furniture-recommended {
   margin-top: 100px;
 }

 .text-heading-rec {
  padding: 0 15%;
 }