
.content {
   margin-left: 270px;
   margin-right: 20px;
   padding: 20px;
}

.content-header {
   margin-left: 250px;
   margin-right: 0px;
   padding: 0px;
}

.btn-circle {
   display: inline-flex;
   width: 35px;
   height: 35px;
   border-radius: 50%;
   justify-content: center;
   align-items: center;
   text-decoration: none;
 }
 
 