body {
   font-family: 'Inter', sans-serif !important;
   background-color: #F8F9FB !important;
}

.navbar-custom {
   /* background-color: #6F6AF8; */
   background-color: #232454;
   box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.4);
   z-index: 3;
}
 
.border-all {
   border: 1px solid #f1f1f1 !important;
 }
 